<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}

            {% endblock title %}
        </title>
        {% load static %}
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.png' %}">
    </head>
    <body>
        <main>
            <div class="content">
                <div class="menu">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>